APP_SECRET = templete               # session密钥
APP_LANGUAGE = zh                   # 翻译语言
APP_MYSQL_HOST = 127.0.0.1          # MySQL地址
APP_MYSQL_PORT = 3306               # MySQL端口号
APP_MYSQL_NAME = tuxun              # MySQL数据库名称
APP_MYSQL_USER = root               # MySQL用户名
APP_MYSQL_PASS = 123456             # MySQL密码
APP_ALLOW_ORIGINS = http://localhost:9000|http://172.28.80.1:9000|http://127.0.0.1:9000|http://127.0.0.1:9527               # 允许跨域的源
APP_ALLOW_HEADERS = Origin|Content-Length|Content-Type|Authorization|x-session-id|x-http-method-override                    # 允许跨域的请求头,中间使用`|`作为分隔符
APP_LOG_LEVEL = debug                         # 日志等级
OnlineCallback = 127.0.0.1:8088                 # 统一认证返回地址
OSS_ACCESS_KEY_ID = your_access_key_id          # 阿里云OSS Access Key ID
OSS_ACCESS_KEY_SECRET  = your_access_key_secret # 阿里云OSS Access Key Secret
OSS_REGION = cn-hangzhou                        # 阿里云OSS所在的地域，例如cn-hangzhou
OSS_BUCKET_NAME = your_bucket_name              # 阿里云OSS存储空间名称
OSS_USE_LOCAL = true                            # 是否使用本地存储（true或false）
APP_URL_HOST = 127.0.0.1                        # 本地存储静态暴露地址
APP_URL_PORT = 8088                             # 本地存储静态暴露端口号
AUTO_APPROVAL = attemptAndComment                             # 是否自动审核（all或attemptAndComment或comment或no）
Oauth_Base = https://oauth.tiaozhan.com
Client_ID = tu_xun
Client_Secret = 886103563c59247c311af90b464e607f86991369e77e5ff6  #tz-oauth 后端密钥
FE_ORIGIN = http://tuxun.tiaozhan.com                   # C端前端地址
ADMIN_ORIGIN = http://tuxun.tiaozhan.com/admin                   # B端管理后台地址
HOT_LIKE_WEIGHT = 2                                     # 热度排序-点赞权重
HOT_ATTEMPT_WEIGHT = 1                                  # 热度排序-作答权重
WX_App_ID = wx14958624c21d3446                          #微信小程序ID
WX_APP_Secret = c9f4e57ca683599dcbe23a08ad7df451        #微信小程序密钥